@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    font-family: Poppins;
}

/*--/address-banner--*/

.w3l-industry-address {
    display: flex;
    position: absolute;
    z-index: 9999;
    right: 0px;
    max-width: 700px;
    margin-top: -120px;
}

.one-address {
    background: #339e18;
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

.one-address .ad-icon {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #27e60d;
    font-size: 22px;
}

.one-address .ad-icon span.fa {
    color: #1f63b1;
}

.one-address .content p, .one-address .content p a {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.one-address .content p, .one-address.content h5 {
    color: var(--heading-color);
}

.one-address:first-child .content p, .one-address:first-child .content h5 {
    color: #fff;
}

.one-address .left {
    margin-right: 25px;
}

.one-address:first-child {
    background: #29f60e;
    border-top-left-radius: 8px;
}

@media only screen and (max-width:992px) {
    .one-address .content p, .one-address .content p a {
        font-size: 18px;
    }
    .one-address .content h5 {
        font-size: 20px;
    }
    .one-address {
        padding: 30px 30px;
    }
}

@media only screen and (max-width:873px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width:676px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width:549px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .w3l-industry-address {
        display: block;
        position: absolute;
        z-index: 99;
        right: 0px;
        bottom: 0px;
        max-width: 300px;
        margin-top: -120px;
    }
    .one-address .content p, .one-address .content p a {
        font-size: 15px;
    }
    .one-address .content h5 {
        font-size: 16px;
    }
    .one-address {
        padding: 20px 10px;
    }
    .one-address .ad-icon {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 17px;
    }
}

@media only screen and (max-width:480px) {
    .one-address {
        padding: 10px 10px;
    }
    .one-address .left {
        margin-right: 15px;
    }
    .one-address .content h5 {
        font-size: 13px;
    }
}

/*--//address-banner--*/

/* Sliders  */

.w3l-banner-slider-main {
    /*--/slider--*/
    /*--//slider--*/
    /*--//responsive design --*/
}

.w3l-banner-slider-main ol.carousel-indicators {
    margin: 0;
}

.w3l-banner-slider-main .carousel-item {
    min-height: 25em;
    position: relative;
    z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
    background: url(../images/slide1.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
    background: url(../images/slide3.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
    background: url(../images/slide4.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item:before {
    content: "";
    background: rgba(16, 16, 16, 0.470588);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900 !important;
    line-height: 120px;
    color: #CCCCB2;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #757519, #CCCCB2);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #757519, #CCCCB2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3l-banner-slider-main .carousel-caption p {
    color: rgb(250, 228, 228);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.w3l-banner-slider-main a.banner-btn.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 5px 13px;
    font-size: 16px;
    background-color: #7ff022;
    margin-top: 20px;
    color: black;
}

.w3l-banner-slider-main a.banner-btn.btn:hover {
    background: #ff6768;
    color: #fff;
}

.w3l-banner-slider-main .b-ck {
    display: block;
}

.w3l-banner-slider-main .carousel-indicators {
    bottom: 7%;
    left: 0%;
    cursor: pointer;
    display: none;
}

.w3l-banner-slider-main .carousel-caption {
    text-align: left;
    margin: 0 auto;
    position: absolute;
    right: 15%;
    bottom: 18%;
    left: 15%;
    z-index: 10;
}

.w3l-banner-slider-main .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 40em;
}

.w3l-banner-slider-main .carousel-control {
    line-height: 40em;
}

.w3l-banner-slider-main .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
    background: #03cce6;
    width: 30px;
    height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev, .w3l-banner-slider-main .carousel-control-next {
    background: none;
    position: absolute;
    top: 42%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    /* opacity: 0.5; */
    transition: opacity 0.15s ease;
    height: 50px;
    width: 60px;
    padding: -10px;
    opacity: 0.9;
}

@media (max-width: 1080px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 900px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 100px;
    }
}

@media (max-width: 832px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .w3l-banner-slider-main .carousel-item {
        min-height: 30em;
    }
}

@media (max-width: 667px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main a.banner-btn.btn {
        padding: 12px 26px;
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 70px;
        line-height: 80px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 15px;
    }
}

@media (max-width: 569px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 70px;
    }
}

@media (max-width: 595px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 595px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 490px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 14px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 26em;
    }
}

@media (max-width: 440px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 22em;
    }
    .w3l-banner-slider-main .carousel-caption {
        bottom: 12%;
    }
}

@media (max-width: 375px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 25em;
    }
    .w3l-banner-slider-main .carousel-caption {
        bottom: 12%;
    }
}

@media (max-width: 343px) {
    .caro_h3 {
        font-size: 26px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 21px !important;
        font-weight: 800;
    }
}

@media (max-width: 333px) {
    .caro_h3 {
        font-size: 23px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 19px !important;
        font-weight: 800;
    }
}

@media (max-width: 405px) {
    .banner-btn {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}

.pos-center {
    margin: auto;
    width: 100%;
}

.pos-center-1 {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

.hny-title {
    font-size: 30px;
    line-height: 48px;
    font-weight: 600;
    position: relative;
}

.sub-title, .sub-title-1 {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    padding-left: 70px;
    color: #48ad20;
}

.sub-title:before, .sub-title-1::before {
    content: '';
    display: block;
    width: 55px;
    height: 3px;
    background-color: #48ad20;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
}

.carousel-item img {
    border-radius: 5px;
}

.infra li {
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    list-style-type: circle;
}

/*  */

.box-wrap {
    margin-top: 30px;
    padding: 40px 20px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    text-align: center;
    border: 1px solid #339e18;
}

.box-wrap:hover {
    box-shadow: 0 25px 98px 0 rgba(18, 87, 214, 0.808);
}

.box-wrap img {
    max-width: 55px;
    display: block;
    margin: 0 auto;
}

.box-wrap h4 a {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    color: var(--heading-color);
    text-decoration: none;
}

.box-wrap h4 a:hover {
    color: #49c0b6;
    text-decoration: none;
}

.box-wrap p {
    margin: 0;
    text-align: center;
    color: var(--para-color);
}

.search-box .icon {
    text-align: center;
    display: block;
    color: #7a7a7a;
}

.icon img {
    color: #339e18;
    font-size: 40px;
}

/* Call for action  */