@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    font-family: Poppins;
}

/*--/address-banner--*/

.w3l-industry-address {
    display: flex;
    position: absolute;
    z-index: 9999;
    right: 0px;
    max-width: 700px;
    margin-top: -120px;
}

.one-address {
    background: #339e18;
    display: flex;
    justify-content: center;
    padding: 30px 30px;
}

.one-address .ad-icon {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #27e60d;
    font-size: 22px;
}

.one-address .ad-icon span.fa {
    color: #1f63b1;
}

.one-address .content p, .one-address .content p a {
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.one-address .content p, .one-address.content h5 {
    color: var(--heading-color);
}

.one-address:first-child .content p, .one-address:first-child .content h5 {
    color: #fff;
}

.one-address .left {
    margin-right: 25px;
}

.one-address:first-child {
    background: #29f60e;
    border-top-left-radius: 8px;
}

@media only screen and (max-width:992px) {
    .one-address .content p, .one-address .content p a {
        font-size: 18px;
    }
    .one-address .content h5 {
        font-size: 20px;
    }
    .one-address {
        padding: 30px 30px;
    }
}

@media only screen and (max-width:873px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width:676px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width:549px) {
    .w3l-industry-address {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .w3l-industry-address {
        display: block;
        position: absolute;
        z-index: 99;
        right: 0px;
        bottom: 0px;
        max-width: 300px;
        margin-top: -120px;
    }
    .one-address .content p, .one-address .content p a {
        font-size: 15px;
    }
    .one-address .content h5 {
        font-size: 16px;
    }
    .one-address {
        padding: 20px 10px;
    }
    .one-address .ad-icon {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 17px;
    }
}

@media only screen and (max-width:480px) {
    .one-address {
        padding: 10px 10px;
    }
    .one-address .left {
        margin-right: 15px;
    }
    .one-address .content h5 {
        font-size: 13px;
    }
}

/*--//address-banner--*/

/* Sliders  */

.w3l-banner-slider-main {
    /*--/slider--*/
    /*--//slider--*/
    /*--//responsive design --*/
}

.w3l-banner-slider-main ol.carousel-indicators {
    margin: 0;
}

.w3l-banner-slider-main .carousel-item {
    min-height: 25em;
    position: relative;
    z-index: 1;
}

.w3l-banner-slider-main .carousel-item {
    background: url(../images/slide1.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item2 {
    background: url(../images/slide3.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item.item3 {
    background: url(../images/slide4.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

.w3l-banner-slider-main .carousel-item:before {
    content: "";
    background: rgba(16, 16, 16, 0.470588);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.w3l-banner-slider-main .carousel-caption h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900 !important;
    line-height: 120px;
    color: #CCCCB2;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #757519, #CCCCB2);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #757519, #CCCCB2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.w3l-banner-slider-main .carousel-caption p {
    color: rgb(250, 228, 228);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
}

.w3l-banner-slider-main a.banner-btn.btn {
    display: inline-block;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 5px 13px;
    font-size: 16px;
    background-color: #7ff022;
    margin-top: 20px;
    color: black;
}

.w3l-banner-slider-main a.banner-btn.btn:hover {
    background: #ff6768;
    color: #fff;
}

.w3l-banner-slider-main .b-ck {
    display: block;
}

.w3l-banner-slider-main .carousel-indicators {
    bottom: 7%;
    left: 0%;
    cursor: pointer;
    display: none;
}

.w3l-banner-slider-main .carousel-caption {
    text-align: left;
    margin: 0 auto;
    position: absolute;
    right: 15%;
    bottom: 18%;
    left: 15%;
    z-index: 10;
}

.w3l-banner-slider-main .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 40em;
}

.w3l-banner-slider-main .carousel-control {
    line-height: 40em;
}

.w3l-banner-slider-main .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

.w3l-banner-slider-main .carousel-indicators .active {
    background: #03cce6;
    width: 30px;
    height: 3px;
}

.w3l-banner-slider-main .carousel-control-prev, .w3l-banner-slider-main .carousel-control-next {
    background: none;
    position: absolute;
    top: 42%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    /* opacity: 0.5; */
    transition: opacity 0.15s ease;
    height: 50px;
    width: 60px;
    padding: -10px;
    opacity: 0.9;
}

@media (max-width: 1080px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 900px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 100px;
    }
}

@media (max-width: 832px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .w3l-banner-slider-main .carousel-item {
        min-height: 30em;
    }
}

@media (max-width: 667px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main a.banner-btn.btn {
        padding: 12px 26px;
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 70px;
        line-height: 80px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 15px;
    }
}

@media (max-width: 569px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 70px;
    }
}

@media (max-width: 595px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 595px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 490px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main .carousel-caption p {
        font-size: 14px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 26em;
    }
}

@media (max-width: 440px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 40px;
        line-height: 50px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 22em;
    }
    .w3l-banner-slider-main .carousel-caption {
        bottom: 12%;
    }
}

@media (max-width: 375px) {
    .w3l-banner-slider-main .carousel-caption h3 {
        font-size: 30px;
        line-height: 40px;
    }
    .w3l-banner-slider-main .carousel-item {
        min-height: 25em;
    }
    .w3l-banner-slider-main .carousel-caption {
        bottom: 12%;
    }
}

@media (max-width: 343px) {
    .caro_h3 {
        font-size: 26px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 21px !important;
        font-weight: 800;
    }
}

@media (max-width: 333px) {
    .caro_h3 {
        font-size: 23px !important;
        font-weight: 600;
    }
    .caro_h3_2 {
        font-size: 19px !important;
        font-weight: 800;
    }
}

@media (max-width: 405px) {
    .banner-btn {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }
}

.pos-center {
    margin: auto;
    width: 100%;
}

.pos-center-1 {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 60px;
    text-align: center;
}

.hny-title {
    font-size: 30px;
    line-height: 48px;
    font-weight: 600;
    position: relative;
}

.sub-title, .sub-title-1 {
    position: relative;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    padding-left: 70px;
    color: #48ad20;
}

.sub-title:before, .sub-title-1::before {
    content: '';
    display: block;
    width: 55px;
    height: 3px;
    background-color: #48ad20;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
}

.carousel-item img {
    border-radius: 5px;
}

.infra li {
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #202020;
    list-style-type: circle;
}

/*  */

.box-wrap {
    margin-top: 30px;
    padding: 40px 20px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: #fff;
    text-align: center;
    border: 1px solid #339e18;
}

.box-wrap:hover {
    box-shadow: 0 25px 98px 0 rgba(18, 87, 214, 0.808);
}

.box-wrap img {
    max-width: 55px;
    display: block;
    margin: 0 auto;
}

.box-wrap h4 a {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    color: var(--heading-color);
    text-decoration: none;
}

.box-wrap h4 a:hover {
    color: #49c0b6;
    text-decoration: none;
}

.box-wrap p {
    margin: 0;
    text-align: center;
    color: var(--para-color);
}

.search-box .icon {
    text-align: center;
    display: block;
    color: #7a7a7a;
}

.icon img {
    color: #339e18;
    font-size: 40px;
}

/* Call for action  */

/* Footer  */

.random-bg {
    background: #284d43 !important;
    color: white;
    border-radius: 5px !important;
}

.bordered-input {
    border: 2px solid #27e60d !important;
    border-bottom-left-radius: 10px !important;
}

.bordered-btn {
    border: 2px solid #27e60d !important;
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: -20px !important;
}

.footer-28 {
    background: #12c2e9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.footer-28 h6.footer-title-28 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}

.w3l-forms-9 {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 1;
    border: 1px solid rgb(221 221 221 / 20%);
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 77%;
    top: -15%;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.w3l-forms-9 form.rightside-form input {
    background: var(--bg-light);
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    color: #777777;
    width: 100%;
    border-radius: var(--border-radius-full) 0px 0px var(--border-radius-full);
    height: 60px;
}

.w3l-forms-9 .rightside-form button {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 14px 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0;
}

.footer-28 .footer-list-28 ul li, .footer-28 .midd-footer-28:nth-child(1) .footer-list-28 ul li:last-child {
    list-style: none;
    margin-bottom: 5px;
    /* margin-left: -40px !important; */
}

.footer-28 .footer-list-28 ul li a span.fa {
    color: var(--primary-color);
    font-size: 14px;
}

.footer-28 .footer-list-28 ul li:last-child {
    margin-bottom: 0px;
}

.footer-28 .footer-list-28 ul li a, .footer-28 .footer-list-28 ul li p {
    color: var(--font-color);
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
}

.footer-28 .footer-list-28 ul li a:hover {
    color: #fff;
}

.footer-28 .main-social-footer-28 a {
    margin-right: 25px;
}

.footer-28 .main-social-footer-28 a:last-child {
    margin-right: 0;
}

.footer-28 .copy-footer-28 {
    color: var(--font-color);
    margin-bottom: -60px !important;
    padding: 10px;
}

.links-services ul li {
    margin-left: -40px !important;
}

.footer-28 .copy-footer-28 a {
    color: #fff;
}

.footer-28 .copy-footer-28 a:hover {
    text-decoration: underline;
    opacity: 1;
}

.footer-28 ul.list-btm-28 {
    margin: 25px 0 15px;
}

.footer-28 .list-btm-28 li {
    list-style-type: none;
    display: inline-block;
}

.footer-28 ul.list-btm-28 li:nth-child(2) {
    margin: 0 25px;
}

.footer-28 .list-btm-28 li a {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: var(--text-color);
}

.footer-28 ul.social-icons {
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.footer-28 ul.social-icons li a {
    display: block;
    text-decoration: none;
}

.footer-28 ul.social-icons li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}

.footer-28 ul.social-icons li a span {
    font-size: 16px;
    background: #27e60d;
    color: whitesmoke;
    width: 36px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    transition: 0.3s ease-in;
}

.footer-28 ul.social-icons li a span:hover {
    background-color: #48ad20;
    transition: 0.3s ease-in;
    color: #fff;
}

.footer-28 #movetop {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 38px;
    height: 38px;
    background: var(--primary-color);
    padding: 0;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s ease-out;
}

.footer-28 #movetop:hover {
    background: var(--secondary-color);
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    transition: 0.3s ease-out;
}

.footer-28 .midd-footer-28 {
    border-top: 1px solid rgb(221 221 221 / 20%);
}

@media (max-width:992px) {
    .w3l-forms-9 {
        position: static;
        z-index: 1;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 736px) {
    .footer-28 .grid-col-4 {
        grid-template-columns: 1fr 1fr;
    }
    .footer-28 h6.footer-title-28 {
        font-size: 20px;
    }
    .footer-28 .footer-list-28 ul li a, .footer-28 .footer-list-28 ul li p {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width:676px) {
    .w3l-forms-9 form.rightside-form input {
        width: 100%;
        border-radius: var(--border-radius-full);
        margin-bottom: 16px;
        background: var(--bg-grey);
        border: 1px solid rgb(221 221 221 / 20%);
    }
    .w3l-forms-9 .rightside-form button {
        border-radius: var(--border-radius-full);
        display: block;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .footer-28 .footer-top-28 {
        grid-gap: 20px;
    }
}

@media (max-width: 550px) {
    .footer-28 ul.social-icons li {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .footer-28 .footer-top-28 {
        grid-gap: 40px;
        grid-template-columns: 1fr 1fr;
    }
    .footer-28 ul.list-btm-28 li:nth-child(2) {
        margin: 0 18px;
    }
    .footer-28 ul.social-icons {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 415px) {
    .footer-list-28 img {
        display: inline-block;
        width: 160px;
    }
    .footer-28 .footer-list-28 ul li a, .footer-28 .footer-list-28 ul li p {
        font-size: 17px;
    }
    .footer-28 h6.footer-title-28 {
        font-size: 22px;
        margin-bottom: 15px;
    }
}